.profile {
    min-width: 880px;
    position: relative;
    margin: 0 0 51px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 930px) {
    .profile {
        min-width: 282px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 88.14%;
        margin-left: 0.93%;
        margin-bottom: 36px;
    }
}